### Pandas
---

Pandas provides two data structures:

1. Series

    - similar to a one dimensional array

    - a single column of a pandas dataframe

2. Dataframes

    - similar to a matrix or 2 dimensional array

    - a tabular representation of data with rows and columns

#### 2.2.1 Series

- a one dimensional array-like object with indexed-values
- can be created from a list, numpy array or python dictionary

In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series(np.random.randn(6))

print(f"Series = \n{s}\n")
print(f"series values = {s.values}\n")
print(f"series indecies = {s.index}\n")
print(f"s element data type = {s.dtype}\n")

Series =
0    1.080507
1   -2.357412
2   -0.092173
3   -0.999017
4   -1.088539
5    0.114199
dtype: float64

series values = [ 1.08050731 -2.35741205 -0.09217252 -0.99901672 -1.08853851  0.1141985 ]

series indecies = RangeIndex(start=0, stop=6, step=1)

s element data type = float64

In [4]:
# the indices do not necessarily need to be numbers

s2 = pd.Series(np.random.uniform(-100,100,(7,)),['Jan 1', 'Jan 2', 'Jan 3', 'Jan 4', 'Jan 5', 'Jan 6', 'Jan 7'])

print(f"Series = \n{s2}\n")
print(f"series values = {s2.values}\n")
print(f"series indicies = {s2.index}\n")
print(f"series element data type = {s2.dtype}\n")

Series =
Jan 1   -96.783826
Jan 2   -51.899871
Jan 3   -67.798223
Jan 4   -68.889734
Jan 5    42.032014
Jan 6   -26.635879
Jan 7    88.648007
dtype: float64

series values = [-96.78382564 -51.89987142 -67.79822287 -68.88973445  42.03201371
 -26.63587895  88.64800674]

series indicies = Index(['Jan 1', 'Jan 2', 'Jan 3', 'Jan 4', 'Jan 5', 'Jan 6', 'Jan 7'], dtype='object')

series element data type = float64

In [5]:
capitals = {'MI': 'Lansing', 'CA': 'Sacramento', 'TX': 'Austin', 'MN': 'St Paul'}

s3 = pd.Series(capitals)   # creating a series from dictionary object

print(f'Series s3 =\n{s3}\n')
# Accessing elements of a Series
print('s3[2]=', s3[2])        # display third element of the Series
print('s3[\'CA\']=', s3['CA'])   # indexing element of a Series 
print('\ns3[1:3]=')             # display a slice of the Series
print(s3[1:3])
print(f'\ns3.iloc([1:3])=\n{s3.iloc[1:3]}')      # display a slice of the Series

print('s3.values =', s3.values)   # display values of the Series
print('s3.index=', s3.index)      # display indices of the Series
print('s3.dtype =', s3.dtype)     # display the element type of the Series
print('Shape of s3 =', s3.shape)   # get the dimension of the Series
print('Size of s3 =', s3.size)     # get the number of elements of the Series
print('Count of s3 =', s3.count()) # get the number of non-null elements of the Series

Series s3 =
MI       Lansing
CA    Sacramento
TX        Austin
MN       St Paul
dtype: object

s3[2]= Austin
s3['CA']= Sacramento

s3[1:3]=
CA    Sacramento
TX        Austin
dtype: object

s3.iloc([1:3])=
CA    Sacramento
TX        Austin
dtype: object
s3.values = ['Lansing' 'Sacramento' 'Austin' 'St Paul']
s3.index= Index(['MI', 'CA', 'TX', 'MN'], dtype='object')
s3.dtype = object
Shape of s3 = (4,)
Size of s3 = 4
Count of s3 = 4

/tmp/ipykernel_19270/2850164092.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('s3[2]=', s3[2])        # display third element of the Series

In [6]:
print(f"s2 = \n{s2}\n")

# applying a boolean filter to the series
print(f"s2 >= 0: \n{s2 >= 0}\n")
# using a boolean series filter to index a series object
print(f"s2[s2 >= 0]: \n{s2[s2 >= 0]}\n")

# applying numpy functions
print(f"|s2| = \n{np.abs(s2)}\n")
print(f"s2 - s2 + 1 = \n{np.add(s2-s2, 1)}\n")

s2 =
Jan 1   -96.783826
Jan 2   -51.899871
Jan 3   -67.798223
Jan 4   -68.889734
Jan 5    42.032014
Jan 6   -26.635879
Jan 7    88.648007
dtype: float64

s2 >= 0:
Jan 1    False
Jan 2    False
Jan 3    False
Jan 4    False
Jan 5     True
Jan 6    False
Jan 7     True
dtype: bool

s2[s2 >= 0]:
Jan 5    42.032014
Jan 7    88.648007
dtype: float64

|s2| =
Jan 1    96.783826
Jan 2    51.899871
Jan 3    67.798223
Jan 4    68.889734
Jan 5    42.032014
Jan 6    26.635879
Jan 7    88.648007
dtype: float64

s2 - s2 + 1 =
Jan 1    1.0
Jan 2    1.0
Jan 3    1.0
Jan 4    1.0
Jan 5    1.0
Jan 6    1.0
Jan 7    1.0
dtype: float64

In [7]:
colors = pd.Series(['red', 'blue', 'blue', 'yellow', 'red', 'green', 'blue', np.nan])

print(f"colors = \n{colors}\n")

# can retrieve count for all unique values in the colors series
print(f"color_counts = \n{colors.value_counts()}\n")

colors =
0       red
1      blue
2      blue
3    yellow
4       red
5     green
6      blue
7       NaN
dtype: object

color_counts =
blue      3
red       2
yellow    1
green     1
Name: count, dtype: int64

#### 2.2.2 Data Frames

- a tabular spreadsheet-like data structure

- composed of multiple Series objects

- can be indexed numerically using two coordinates (row,column)

- can be created from dictionaries, ndarrays, list of tuples

#### Building Dataframes

In [8]:
# creating a dictionary
cars = {'make': ('Ford', 'Honda', 'Toyota', 'Tesla'),
       'model': ('Taurus', 'Accord', 'Camry', 'Model S'),
       'MSRP': (27595, 23570, 23495, 68000)}

# creating a dataframe using the dictionary
carData = pd.DataFrame(cars)
carData

     make    model   MSRP
0    Ford   Taurus  27595
1   Honda   Accord  23570
2  Toyota    Camry  23495
3   Tesla  Model S  68000

In [9]:
# print CarData row and column indices

print(f"carData row indices = {np.array(carData.index)}")
print(f"carData column indices = {carData.columns}")

carData row indices = [0 1 2 3]
carData column indices = Index(['make', 'model', 'MSRP'], dtype='object')

In [10]:
# custom dataframe indexing
carData = pd.DataFrame(cars, index=[1,2,3,4])
# creating a new column with same value for all rows
carData['year'] = 2018
# creating another new column
carData['dealership'] = ['Courtesy Ford','Capital Honda','Spartan Toyota', 'N/A']
carData

     make    model   MSRP  year      dealership
1    Ford   Taurus  27595  2018   Courtesy Ford
2   Honda   Accord  23570  2018   Capital Honda
3  Toyota    Camry  23495  2018  Spartan Toyota
4   Tesla  Model S  68000  2018             N/A

In [11]:
# using a list of tuples to create a dataframe
    # each element of the list is a row
tuplelist = [(2011,45.1,32.4),(2012,42.4,34.5),(2013,47.2,39.2),
              (2014,44.2,31.4),(2015,39.9,29.8),(2016,41.5,36.7)]
columnNames = ['year','temp','precip']
weatherData = pd.DataFrame(tuplelist, columns=columnNames)
weatherData

   year  temp  precip
0  2011  45.1    32.4
1  2012  42.4    34.5
2  2013  47.2    39.2
3  2014  44.2    31.4
4  2015  39.9    29.8
5  2016  41.5    36.7

In [45]:
# creating a dataframe from a random numpy matrix
npdata = np.random.normal(size=(5,3))
columns = ['x1', 'x2', 'x3']
data = pd.DataFrame(npdata, columns=columns, index=['a', 'b', 'c', 'd', 'e'])
data

         x1        x2        x3
a -0.892017  0.612105  2.122196
b  2.374679  0.697643 -0.422926
c -1.606071  0.583414 -0.390325
d  0.526931  0.320228  0.340104
e  0.771521 -1.232823 -1.613797

#### Accessing Dataframes

In [46]:
# accessing an entire column will return a series object
print(data['x2'])
print(type(data['x2']))

a    0.612105
b    0.697643
c    0.583414
d    0.320228
e   -1.232823
Name: x2, dtype: float64
<class 'pandas.core.series.Series'>

In [47]:
# accessing an entire row will also return a series, indexed using the columns of the original dataframe

print(data)
print(data.iloc[2,:])
print(type(data.iloc[2:]))

print()

print(carData)
print(carData.iloc[2,:])
print(type(carData.iloc[2:]))

         x1        x2        x3
a -0.892017  0.612105  2.122196
b  2.374679  0.697643 -0.422926
c -1.606071  0.583414 -0.390325
d  0.526931  0.320228  0.340104
e  0.771521 -1.232823 -1.613797
x1   -1.606071
x2    0.583414
x3   -0.390325
Name: c, dtype: float64
<class 'pandas.core.frame.DataFrame'>

     make    model   MSRP  year      dealership
1    Ford   Taurus  27595  2018   Courtesy Ford
2   Honda   Accord  23570  2018   Capital Honda
3  Toyota    Camry  23495  2018  Spartan Toyota
4   Tesla  Model S  68000  2018             N/A
make                  Toyota
model                  Camry
MSRP                   23495
year                    2018
dealership    Spartan Toyota
Name: 3, dtype: object
<class 'pandas.core.frame.DataFrame'>

In [48]:
print(data)
print(data.shape) # dataframe dimensions
print(data.size) # number of elements in dataframe
print()

# selecting specific cells
print(data.loc["b":"d","x2"]) # loc expects column/row labels instead of integer-based indexing
                        # note that row numbers are interpreted as labels by default
print(data.iloc[2,2]) # iloc is solely for numerical indexing
print()

# slicing dataframes
print(data.iloc[1:3,0:1])

         x1        x2        x3
a -0.892017  0.612105  2.122196
b  2.374679  0.697643 -0.422926
c -1.606071  0.583414 -0.390325
d  0.526931  0.320228  0.340104
e  0.771521 -1.232823 -1.613797
(5, 3)
15

b    0.697643
c    0.583414
d    0.320228
Name: x2, dtype: float64
-0.3903251599561779

         x1
b  2.374679
c -1.606071

In [53]:
# filtering dataframes

print(carData)
print()
print(carData[carData['MSRP']>25000])
print()
print(carData[carData['make'].str.startswith('T')])

     make    model   MSRP  year      dealership
1    Ford   Taurus  27595  2018   Courtesy Ford
2   Honda   Accord  23570  2018   Capital Honda
3  Toyota    Camry  23495  2018  Spartan Toyota
4   Tesla  Model S  68000  2018             N/A

    make    model   MSRP  year     dealership
1   Ford   Taurus  27595  2018  Courtesy Ford
4  Tesla  Model S  68000  2018            N/A

     make    model   MSRP  year      dealership
3  Toyota    Camry  23495  2018  Spartan Toyota
4   Tesla  Model S  68000  2018             N/A

#### 2.2.3 Arithmetic Operations

In [54]:
print(data)

print('\nDataframe transpose operation: data.T')
print(data.T) # will return the transpose of the dataframe

print('\nAddition: data + 4')
print(data + 4) # will simply add 4 elementwise

print('\nMultiplication: data * 10')
print(data * 10) # elementwise multiplication

         x1        x2        x3
a -0.892017  0.612105  2.122196
b  2.374679  0.697643 -0.422926
c -1.606071  0.583414 -0.390325
d  0.526931  0.320228  0.340104
e  0.771521 -1.232823 -1.613797

Dataframe transpose operation: data.T
           a         b         c         d         e
x1 -0.892017  2.374679 -1.606071  0.526931  0.771521
x2  0.612105  0.697643  0.583414  0.320228 -1.232823
x3  2.122196 -0.422926 -0.390325  0.340104 -1.613797

Addition: data + 4
         x1        x2        x3
a  3.107983  4.612105  6.122196
b  6.374679  4.697643  3.577074
c  2.393929  4.583414  3.609675
d  4.526931  4.320228  4.340104
e  4.771521  2.767177  2.386203

Multiplication: data * 10
          x1         x2         x3
a  -8.920173   6.121047  21.221960
b  23.746786   6.976426  -4.229263
c -16.060709   5.834140  -3.903252
d   5.269307   3.202282   3.401045
e   7.715213 -12.328230 -16.137975

In [62]:
print('data =\n', data)

# creating another dataframe of the same size/shape
    # column/row labels need to match so python can determine which elements to add
columnNames = ['x1','x2','x3']
data2 = pd.DataFrame(np.random.randn(5,3), columns=columnNames, index=['a', 'b', 'c', 'd', 'e'])
print('\ndata2 =')
print(data2)

print('\ndata + data2 = ')
print(data.iloc[1:3,:].add(data2.iloc[1:3,:]))
print(data.iloc[1:3,:] + data2.iloc[1:3,:])

print('\ndata * data2 = ')
print(data.iloc[1:3,:].mul(data2.iloc[1:3,:]))
print(data.iloc[1:3,:] * data2.iloc[1:3,:])

data =
          x1        x2        x3
a -0.892017  0.612105  2.122196
b  2.374679  0.697643 -0.422926
c -1.606071  0.583414 -0.390325
d  0.526931  0.320228  0.340104
e  0.771521 -1.232823 -1.613797

data2 =
         x1        x2        x3
a  0.806723  0.597655 -1.970574
b -1.333536  0.190703 -0.019737
c -1.192193 -0.931929  0.662228
d -0.429034  0.741646  0.670122
e -0.303268  0.469357  1.063542

data + data2 =
         x1        x2        x3
b  1.041143  0.888345 -0.442663
c -2.798264 -0.348515  0.271903
         x1        x2        x3
b  1.041143  0.888345 -0.442663
c -2.798264 -0.348515  0.271903

data * data2 =
         x1        x2        x3
b -3.166719  0.133042  0.008347
c  1.914747 -0.543700 -0.258484
         x1        x2        x3
b -3.166719  0.133042  0.008347
c  1.914747 -0.543700 -0.258484

In [63]:
print(data.abs())

         x1        x2        x3
a  0.892017  0.612105  2.122196
b  2.374679  0.697643  0.422926
c  1.606071  0.583414  0.390325
d  0.526931  0.320228  0.340104
e  0.771521  1.232823  1.613797